{% extends "layout.html" %}

{%block content%}
<div class="t-bg-slate-100">
    <div class="t-bg-white t-pl-6 t-pr-6 t-pt-6 t-max-w-screen-lg" style="margin:0 auto;">
        <div><a href="/board/{{board.id}}/" class="fs-1">{{board.name}}</a></div>
        <div class="card">
            <div class="card-header">
                {{article.subject}}
            </div>
            <div class="card-body t-min-h-screen t-flex-wrap">
                <p class="card-text t-text-left">{{article.content|safe}}</p>
                {% if article.mainphoto %}
                <img src="{{ article.photo.url }}" alt="" height="600">
                <br>
                {% endif %}
            </div>
            <div class="t-w-full t-flex t-justify-center t-mb-5">
                <button class=" t-m-auto t-mt-6 btn btn-primary like" name="{{article.id}}"><i class="far fa-thumbs-up"
                                                                                               style="display:inline;"></i>
                    <p id="count-{{ article.id }}" style="display:inline;">{{ article.voter.all.count }}</p>
                </button>
            </div>
            <div class="card-footer text-muted">
                {{article.reg_date}}
                {% if request.user.id == article.user.id %}
                <div>
                    <a href="{% url 'board:modify' article.id %}" class="btn btn-outline-primary t-mr-1">수정</a>
                    <a href="{% url 'board:delete' article.id %}" class="btn btn-warning"
                       onclick="if ( confirm('정말 삭제하시겠습니까?') == false ) return false">삭제</a>
                </div>
                {%endif%}
            </div>
        </div>
        <div class="t-mt-3 t-mb-6">전체 댓글
            {% if article.comment.count > 0 %}
            <span class="text-danger small ml-2">{{ article.comment.count }}</span> 개
            {%else%}
            <span class="t-text-slate-400">0</span>개
            {% endif %}
        </div>
        <div class="container">
            {% for comment_ in comment %}
            <div class="t-bg-slate-300 t-rounded-lg t-px-3 t-h-7 t-leading-8 t-mt-5">
                <span>{{comment_.user.username}}</span>
                <!-- 날짜 -->
                {% if comment_.created_string == False %}
                {{ comment_.created|date:'m월 d일' }}
                {% else %}
                {{ comment_.created_string }}
                {% endif %}

                <!-- 댓글 삭제 아이콘 -->
                {% if request.user.id == comment_.user.id %}
                <a href="{% url 'board:comment_delete' board.id article.id comment_.id %}"
                   onclick="if ( confirm('정말 삭제하시겠습니까?') == false ) return false" style="display:inline;"><i
                        class="fas fa-trash-alt"></i></a>
                {%endif%}
            </div>
            <div class="t-mt-2 t-px-3">
                <span>{{comment_.content}}</span>
            </div>
            {%endfor%}
        </div>
        <div>
            <form method="post" action="{% url 'board:comment_write' board.id article.id%}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="content"></label>
                    <textarea class="form-control" name="content"
                              id="content" rows="4"
                              placeholder="내용을 입력하세요.">{{ form.content.value|default_if_none:'' }}</textarea>
                </div>
                <button type="submit" class="btn btn-outline-primary" style="margin-top:10px; margin-bottom:10px;">등록
                </button>
            </form>
        </div>
    </div>
    <!-- 리스트 -->
    <section class="section-article-list">
        <div class="t-bg-slate-100 t-min-h-screen	">
            <div class="t-bg-white t-pl-6 t-pr-6 t-pt-6 t-max-w-screen-lg t-min-h-screen" style="margin:0 auto;">
                <div><a href="/board/{{board.id}}/" class="fs-1">{{board.name}}</a></div>
                {% if request.user.is_authenticated %}
                <div class="t-g-col-4 t-mt-3 t-mb-3 t-flex t-justify-end">
                    <a href=" {% url 'board:write' board.id%}" class="btn btn-outline-primary">글
                        작성</a>
                </div>
                {%endif%}
                {% if article_list %}
                <div class=" t-border-b-2 border-indigo-500">
                    {% for article in article_list %}
                    <div class="t-border-t-2 border-indigo-500 t-mb-1 t-cursor-pointer"
                         onclick="location.href='{% url 'board:detail' board.id article.id%}'">
                        <div>
                            <span>{{article.subject}}</span>
                            <span class="t-text-xs t-text-blue-600/75">{{ article.comment.count}}</span>
                        </div>
                        <div>
                            <span class="t-text-blue-600/50 t-text-xs"><i class="far fa-thumbs-up"></i> {{article.voter.count}}</span>
                            {% if article.created_string == False %}
                            <span class="t-text-xs">{{ article.registered_date|date:'m월 d일' }}</td></span>
                            {% else %}
                            <span class="t-text-xs">{{ article.created_string }}</span>
                            {% endif %}
                            <span class="t-text-xs t-right-0">{{article.writer}}</span>
                        </div>
                    </div>
                    {%endfor%}
                </div>
                <ul class="pagination justify-content-center t-mt-5 t-pb-5">
                    <!-- 이전페이지 -->
                    {% if article_list.has_previous %}
                    <li class="page-item">
                        <a class="page-link"
                           href="?page={{ article_list.previous_page_number }}&kw={{request.GET.kw}}">이전</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
                    </li>
                    {% endif %}
                    <!-- 페이지리스트 -->
                    {% for page_number in article_list.paginator.page_range %}
                    {% if article_list.number|add:-5 <= page_number <= article_list.number|add:5 %}
                    {% if page_number == article_list.number %}
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="?page={{ page_number }}&kw={{request.GET.kw}}">{{ page_number }}</a>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_number }}&kw={{request.GET.kw}}">{{ page_number }}</a>
                    </li>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                    <!-- 다음페이지 -->
                    {% if article_list.has_next %}
                    <li class="page-item">
                        <a class="page-link"
                           href="?page={{ article_list.next_page_number }}&kw={{request.GET.kw}}">다음</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
                    </li>
                    {% endif %}
                </ul>
                {%endif%}
            </div>
        </div>
    </section>
</div>

<script type="text/javascript">
    $(".like").click(function () { // .like 버튼을 클릭 감지
        var pk = $(this).attr('name')
        $.ajax({ // ajax로 서버와 통신
            type: "POST", // 데이터를 전송하는 방법
            url: "{% url 'board:article_like' %}", // 통신할 url을 지정
            data: { 'pk': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}' }, // 서버로 데이터 전송시 옵션, pk를 넘겨야 어떤 article인지 알 수 있음
            dataType: "json",
            success: function (response) { // 성공
                $("#count-" + pk).html(response.likes_count); // 좋아요 개수 변경
            },
            error: function (request, status, error) { // 실패
                {% if not user.is_authenticated %}
                alert("로그인이 필요합니다.")
                window.location.replace("/accounts/login/?next={{ request.path }}") // 로그인 페이지로 넘어가기
                {%else%}
                alert("본인이 작성한 글은 추천할 수 없습니다.")
                {%endif%}

            },
        });
    })

























</script>
</div>
{% endblock%}
