{% extends "layout.html" %}

{%block content%}
<div class="container-lg">
    <div class="input-group" style="margin-top:30px;">
        <div class="form-outline">
            <form class="d-flex">
                <input class="form-control me-2" type="search" name="kw" placeholder="검색어를 입력해주세요."
                       aria-label="Search">
                <button type="button" class="btn btn-primary">
                    <i class="fas fa-search"></i>
                </button>
            </form>
        </div>
    </div>
    <table class="table" style="margin-top:30px;">
        <thead>
        <tr>
            <th scope="col">번호</th>
            <th scope="col">제목</th>
            <th scope="col">글쓴이</th>
            <th scope="col">추천수</th>
            <th scope="col">날짜</th>
        </tr>
        </thead>
        <tbody>

        {% for article in article_list%}

        <tr>
            <th scope="row"><h6>{{article.id}}</h6></th>
            <td><a href="{% url 'board:detail' article.board_id article.id %}">{{ article.subject }}</a></td>
            <td><a href="#">
                {{article.user}}
            </a></td>
            <td><h6>{{ article.voter.count}}</h6></td>
            <td><h6>{{ article.reg_date }}</h6></td>
        </tr>

        {%endfor%}

        </tbody>
    </table>
    {% if request.user.is_authenticated %}
    <div>
        <a href=" {% url 'board:write' board.id%}" class="btn btn-primary" style="margin-top:30px;">글 작성</a>
    </div>
    {%endif%}
    <ul class="pagination justify-content-center" style="margin-top:50px;">
        <!-- 이전페이지 -->
        {% if article_list.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ article_list.previous_page_number }}&kw={{request.GET.kw}}">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
        </li>
        {% endif %}
        <!-- 페이지리스트 -->
        {% for page_number in article_list.paginator.page_range %}
        {% if article_list.number|add:-5 <= page_number <= article_list.number|add:5 %}
        {% if page_number == article_list.number %}
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="?page={{ page_number }}&kw={{request.GET.kw}}">{{ page_number }}</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_number }}&kw={{request.GET.kw}}">{{ page_number }}</a>
        </li>
        {% endif %}
        {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if article_list.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ article_list.next_page_number }}&kw={{request.GET.kw}}">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
        </li>
        {% endif %}
    </ul>
</div>
{%endblock%}